.example-spacer {
    flex: 1 1 auto;
    
  }

.image {
    position:absolute;
    left: 1100px;
    top: 35%;
}

.text {
    position:absolute;
    left: 1125px;
    top: 20%;
}

.filter {
 float: right;
 
  }

  .table {
    height: 100vh;
    width:200vh;
  }

  .search {
    background-color: white;
    margin-left: 4200%;
    margin-top : 50%;
  }